:root {
}

.nav-s {
    height: 80px;
    padding: 12px 16px;
    width: 100%;
}

.nav-s1 {
    flex: 1 1 auto;
    align-items: center;
    display: flex;
    height: 56px;
    padding: 6px 4px;
}

.nav s1 a1 {

}

.fa {
    font-size: 30px;
    margin-right: 8px;
    margin-left: 8px;
    color: rgb(0, 0, 0);
}

.a1 {
    filter: brightness(100%);
    color: rgb(0, 0, 0);
    margin-right: 8px;
    margin-left: 8px;
    font-size: 26px;
    text-decoration:none;
    display:inline-block;
    padding-right: 5px;
    padding-left: 5px;
    line-height:inherit;
    white-space:nowrap;

}

.a2{
    filter: brightness(100%);
    color: rgb(0, 0, 0);
    padding-right: 5px;
    padding-left: 5px;
    font-size: 24px;
    margin-right: 8px;
    margin-left: 8px;
    line-height:inherit;
    white-space:nowrap;
    text-decoration:none;
    display:inline-block;
}

.nav-input {
    background: rgb(239, 239, 239);
    border-style: none;
    border-radius: 47px;
    height: 100%;
    width: 100%;
    margin-right: 8px;
    margin-left: 8px;
}

.btn {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 14px;
    border-radius: 94px;
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.motion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro-div {
    width: auto;
    height: auto;
}

.detail-div {
    justify-content: center;
    cursor: zoom-out;
    display: flex;
    width: 100%;
}
.ct {
    max-width: 1050px;
    margin-bottom: 32px;
}

.ct1 {
    height: 100%;
    width: 100%;
    border-radius: 32px;
    cursor: auto;
    max-width: 508px;
    position: relative;
}
.ct2 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
    border-radius: 32px;
    flex-direction: column;
}

.divform {
    margin-bottom: 32px;
    justify-content: center;
    max-width: 1050px;
    margin-top: 32px;
    background: rgb(255, 255, 255);
    padding: 24px;
    border-radius: 24px;
    height: 100%;
}

.forminput {
    border-radius: 25px;
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    transition: none;
}

.container {
    width: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.item {
    width: 100px;
    height: 100px;
}


.grid-item {
    width: 236px;
    min-height: 177px;
    max-height: 472px;
    float: left;
    background: #ffffff;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    border-radius: 16px;
    padding: 6px;
    /*align-items: center;*/
}