{% extends 'waw/base.html' %}
{% block content %}
<!-- mansonry 시작 -->
{% if post_list %}
    <div style="box-sizing: border-box;">
    <div class="grid--centered" style="justify-content: center;top: 80px;left: 0;right: 0;bottom: 0;position: fixed">
    {% for post in post_list %} <!-- 순회 가능 -->
        <div class="grid-item">
            <div style="width: 220px;overflow-wrap: break-word;">
{#                <a style="color: black" href="{% url 'waw:detail' post.id %}">#}
                    <p>{{ post.content }}</p>
{#                </a>#}
            </div>
            <div>
                <a href="waw/?kw={{ post.date }}">
                    <p>{{ post.date }}</p>
                </a>
            </div>
{#            <div>#}
{#                <p>{{ post.date_write }}</p>#}
{#            </div>#}
        </div>
    {% endfor %}
    </div>
    </div>
{% else %}
    <p>게시물이 없습니다.</p>
{% endif %}
<!-- mansonry 끝 -->
{% endblock %}
