<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="waw 소개" content="about WHO project">
    <title>waw</title>
    <link rel="stylesheet" type="text/css" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/Animated-Typing-With-Blinking.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/F19537---Timeline.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/Footer-Clean.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/Highlight-Blue.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/styles.css">
    <script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../assets/js/Animated-Typing-With-Blinking.js"></script>
</head>
<body>
    <!-- 네비게이션 시작 -->
    <div class="nav-s">
        <div class="nav-s1">
            <a class="a1" href="intro_views.html">WAW</a>
            <a class="a2" href="index.html">Home</a>
                <input class="nav-input" type="search">
            <a href="writePost_views.html"><i class="fa fa-pencil-square-o"></i></a>
            <a class="btn btn-light text-center action-button" role="button" href="login_views.html">K</a>
        </div>
    </div>
    <!-- 네비게이션 끝 -->
    <div class="detail-div">
        <div class="ct">
            <div class="ct1">
                <div class="ct2">

                </div>
                <div style="width:508px">

                </div>
            </div>

        </div>
    </div>
</body>
</html>