{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="waw 소개" content="about WHO project">
    <title>waw</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Animated-Typing-With-Blinking.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/F19537---Timeline.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Footer-Clean.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Highlight-Blue.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/Animated-Typing-With-Blinking.js"></script>
</head>
<body>
{% load static %}
<!-- 네비게이션 시작 -->
<div class="nav-s">
    <div class="nav-s1">
        <a class="a1" href="{% url 'waw:aboutUs' %}">WAW</a>
        <a class="a2" href="{% url 'waw:index' %}">Home</a>
            <input class="nav-input" type="search">
        <a href="{% url 'waw:write' %}"><i class="fa fa-pencil-square-o"></i></a>
        <a class="btn btn-light text-center action-button" role="button" href="{% url 'waw:login' %}">K</a>
    </div>
</div>
<!-- 네비게이션 끝 -->

</body>
{% if post_list %}
    <div>
    {% for post in post_list %} <!-- 순회 가능 -->
        <div class="card">

            <a href="{% url 'waw:detail' post.id %}">{{ post.content }}</a>
            <a href="waw/?kw={{ post.hash_tag }}">{{ post.hash_tag }}</a>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>게시물이 없습니다.</p>
{% endif %}
</html>
