<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>waw</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../assets/css/Animated-Typing-With-Blinking.css">
    <link rel="stylesheet" href="../../assets/css/F19537---Timeline.css">
    <link rel="stylesheet" href="../../assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="../../assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="../../20201120_Fview/assets/css/Projects-Clean.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/Animated-Typing-With-Blinking.js"></script>
    <script src="../../assets/js/masonry.pkgd.min.js"></script>
</body>

</html>